* {
  margin: 0;
  padding: 0;
}

.menu-container {
  display: flex;
  justify-content: center;
  background: rgb(148, 231, 176);
  height: 60px;
  align-items: center;

}

.sub-menu-container {
  display: flex;
  justify-content: center;
  background: rgb(109, 160, 126);
  height: 60px;
  align-items: center;
}

.menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  a{
    text-decoration: none;
    font-size: 25px;
    color: white;
  }
}

.sub-menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
a{
  text-decoration: none;
  font-size: 25px;
  color: black;
}
}

//inicio de accordion
.main-accordion-container {

  .accordion-item{
    background: #102758;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    flex-direction: column;
    padding: 0 10px 0 10px;

    .accordion-desc {
      display: none;
      background: rgb(152, 156, 211);
      padding: 15px;
      margin-top: 15px;
      width: 90%;
    }

    .accordion-title{
      color: rgb(169, 169, 204);
      font-family: Arial;
      font-size: 20px;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 20px;
      text-decoration-color: rgb(196, 187, 236);
    }
    &.tab-active {
      .accordion-desc{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}//fin accordion

//Inicio Main
main {
  display: flex;
  border: 2px solid black;
  background-color: rgb(243, 194, 134);

  .container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .text-container-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;

      p {
        text-align: justify;
        width: 90%;
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }
    .container-1-img2 {
      img {
        max-width: 380px;
        max-height: 280px;
        display: block;
        border-left: 2px solid cadetblue;
        border-right: 2px solid cadetblue;
        border-radius: 10px;
        &:hover{
          transform: rotate(-2deg) scale(1.05);
        }
      }
    }
  }
}//Fin main


//inicio cards
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

  .card-item {
    width: 27%;
    height: 400px;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 11px -1px black;
    margin-bottom: 30px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: #66a3d4;

    &:hover{
      transform: scale(1.05);
    }

    img {
      width: 100%;
      margin-bottom: 10px;
      max-height: 250px;
      min-height: 250px;
      display: flex;
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      font-family: 'Helvetica';
      margin-bottom: 10px;
    }

    .card-info {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: flex-end;
    }

    .card-desc {
      font-family: 'Helvetica';
      font-size: 14px;
    }

    .card-cta {
      text-decoration: none;
      display: block;
      text-align: right;
      font-family: 'Helvetica';
      font-size: 12px;
      border-top: solid 1px black;
      padding-top: 10px;
      margin-top: 30px;
    }

  }//card list 
}//fin cards

//Inicio del Footer
.footer-container
{
display: flex;
flex-direction: column;
justify-content: center;
background: black;
height: 80px;

.footer-list
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  p
  {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  white;
    font-size: 20px
  }
}
.footer-info
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    p 
    {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    }

  }
}//Final del footer

@media (max-width: 1250px)
{
  //Inicio Main
  main 
  {
    display: flex;
    border: 2px solid black;
    background-color: rgb(243, 194, 134);
  
    .container-1 
    {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:  space-between;
      align-items: center;
  
      .text-container-1 
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        h3
          {
            font-size: 30px;
          }
  
        p 
          {
            text-align: justify;
            width: 95%;
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 22px;
          }
      }
  
      .container-1-img2 
      {
        img 
        {
          max-width: 100%;
          max-height: 100%;
          display: block;
          border-left: 2px solid cadetblue;
          border-right: 2px solid cadetblue;
          border-radius: 10px;
        }
      }

        .container-1-img3 
        {
          img 
          {
            max-width: 100%;
            max-height:  100%;
            display: block;
            border-left: 2px solid cadetblue;
            border-right: 2px solid cadetblue;
            border-radius: 10px;
          }

        }
  }
  }
}

  
@media (max-width: 991px) 
{

  //Esta clase afecta el menu 
  .menu-container {
    display: flex;
    padding: 0 15px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    .menu-list {
      display: none;
    } 
    .hamburger-icon{
      width: 35px;
      height: 25px;
      display: flex;
      padding: 1%;
      justify-content: space-between;
      flex-direction: column;
    
      span{
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;
      }
    }


  }

  .menu-container.menu-open{
    .menu-list{
      z-index: 100;
      border: 2px solid black;
      width: 150px;
      padding-top: 70px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      align-content: left;
      background-color: gray;
      border-radius: 5px;
        a{
          padding-top: 5px;
          padding-bottom: 5px;
        }
    }
  }


  //Esta clase afecta al sub menu
  .sub-menu-container {
    display: flex;
    padding: 0 15px;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .sub-menu-list {
      display: none;
    }
  
    .sub-hamburger-icon{
      width: 35px;
      height: 25px;
      padding: 1%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    
      sub-span{
        height: 5px;
        width: 100%;
        background: black;
        display: block;
        border-radius: 10px;
      }
    }

  }
  .sub-menu-container.sub-menu-open{
    align-items: baseline;
    .sub-menu-list{
      z-index: 100;
      border: 2px solid black;
      width: 200px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      align-content: right;
      background-color: gray;
      border-radius: 5px;

        a{
          padding-top: 5px;
          padding-bottom: 5px;
        }
    }
  } 

  .card-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
  
    .card-item {
      width: 45%;
      height: 400px;
      border-radius: 5px;
      padding-bottom: 10px;
      box-shadow: 2px 2px 11px -1px black;
      margin-bottom: 30px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: #66a3d4;
  
      &:hover{
        transform: scale(1.05);
      }
  
      img {
        width: 100%;
        margin-bottom: 10px;
        max-height: 250px;
        min-height: 250px;
        display: flex;
      }
  
      .card-title {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }
  
      .card-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: flex-end;
      }
  
      .card-desc {
        font-family: 'Helvetica';
        font-size: 14px;
      }
  
      .card-cta {
        text-decoration: none;
        display: block;
        text-align: right;
        font-family: 'Helvetica';
        font-size: 12px;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 30px;
      }
  
    }//card list 
  }
  
  
}
@media (max-width: 700)
  {
  .card-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
  
    .card-item {
      width: 42%;
      height: 400px;
      border-radius: 5px;
      padding-bottom: 10px;
      box-shadow: 2px 2px 11px -1px black;
      margin-bottom: 30px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: #66a3d4;
  
      &:hover{
        transform: scale(1.05);
      }
  
      img {
        width: 100%;
        margin-bottom: 10px;
        max-height: 180px;
        min-height: 180px;
        display: flex;
      }
  
      .card-title {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }
  
      .card-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: space-around;
      }
  
      .card-desc {
        font-family: 'Helvetica';
        font-size: 15px;
      }
  
      .card-cta {
        text-decoration: none;
        display: block;
        text-align: left;
        font-family: 'Helvetica';
        font-size: 12px;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 20px;
      }
  
    }//card list 
  }
  
//Inicio del Footer
.footer-container
{
display: flex;
flex-direction: column;
justify-content: space-around;
background: black;
height: 80px;

.footer-list
{
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p
  {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  white;
    font-size: 15px
  }
}
.footer-info
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 10px;
    p 
    {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 15px;
    }

  }
}//Final del footer
  }

@media (min-width: 500px){

  .main-header{
    height: 400px;
    width: 100%;
    background: url('https://johancruyffinstitute.com/wp-content/uploads/2018/07/esports-coi-com.jpg') no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      
    }

    a:before{
      content: '';
    }

    .main-page-title {
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 50px;
      text-align: center;
      -webkit-text-stroke: 2px black;
    }
  }
}

@media (max-width: 500px){

  .main-header{
    height: 150px;
    width: 100%;
    background: url('https://johancruyffinstitute.com/wp-content/uploads/2018/07/esports-coi-com.jpg') no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      
    }

    a:before{
      content: '';
    }

    .main-page-title {
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 30px;
      text-align: center;
      -webkit-text-stroke: 2px black;
    }
  }

  .card-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
  
    .card-item {
      width: 90%;
      height: 400px;
      border-radius: 5px;
      padding-bottom: 10px;
      box-shadow: 2px 2px 11px -1px black;
      margin-bottom: 30px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: #66a3d4;
  
      &:hover{
        transform: scale(1.05);
      }
  
      img {
        width: 100%;
        margin-bottom: 10px;
        max-height: 250px;
        min-height: 250px;
        display: flex;
      }
  
      .card-title {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }
  
      .card-info {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: flex-end;
      }
  
      .card-desc {
        font-family: 'Helvetica';
        font-size: 14px;
      }
  
      .card-cta {
        text-decoration: none;
        display: block;
        text-align: right;
        font-family: 'Helvetica';
        font-size: 12px;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 30px;
      }
  
    }//card list 
  }
}
@media (max-width: 400px)
{
  //Inicio del Footer
.footer-container
{
display: flex;
flex-direction: column;
justify-content: space-around;
background: black;
height: 150px;

.footer-list
{
  display: flex;
  flex-direction: column;
  align-items: center;
  p
  {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  white;
    font-size: 16px
  }
}
.footer-info
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p 
    {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 15px;
    }

  }
}//Final del footer
}